@using Demo.BLL.DTOs
@using Demo.BLL.DTOs.Department
@model IEnumerable<DepartmentDto> ;

@if (!string.IsNullOrWhiteSpace(TempData["message"] as string ))
{
    <div aria-live="polite" aria-atomic="true" class="toast-container position-fixed p-3" style="bottom: 25px; right:25px; z-index: 100;">
        <div class="toast fade show " role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto text-success">Success!!</strong>
                <small>Just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @TempData["message"]
            </div>
        </div>
    </div>

}

    <h1>All Department</h1>

    <a class="btn btn-primary my-3" asp-controller="Department" asp-action="create" >create new department</a>

    <br />

@if (Model.Any())
{
    <table class="table table-hover mt-2">
        <thead>
            <tr class="text-center">
                <th>@Html.DisplayNameFor(dep=>dep.Code)</th>
                <th>@Html.DisplayNameFor(dep => dep.Name)</th>
                <th>@Html.DisplayNameFor(dep => dep.Description)</th>
                <th>@Html.DisplayNameFor(dep => dep.DateOfCreation)</th>
                <th>details</th>
                <th>update</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var department in Model)
            {
                <tr>
                    <td>@department.Code</td>
                    <td>@department.Name</td>
                    <td>@department.Description</td>
                    <td>@department.DateOfCreation</td>
                    @* Code *@
                    @* @Html.PartialAsync("_ButtonPartialView",department.DeptId); *@
                    <partial name="_ButtonParialView" model="department.DeptId" />
                    <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@department.DeptId">Delete</a></td>
                </tr>
            
            }

        </tbody>
    </table>


}
else
{
    
    <div class="alert alert-info mt-2" >
        <h2>no department found!</h2>
    </div>

}